@font-face {
    font-family: MyFont;
    src: url(./assets/ds_digital/DS-DIGI.TTF) format('truetype');
}

#clock {
    font-family: 'MyFont', sans-serif;
    /* font-family: 'DS Digital', sans-serif; */
    font-size: 12rem;
    color: white;
    letter-spacing: 0.25rem;
    text-shadow: 0 0 5px black;
  }

.caption {
    font-family: 'MyFont', sans-serif;
    font-size: 4rem;
    color: white;
    letter-spacing: 0.25rem;
    text-shadow: 0 0 5px black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}